{% extends "base_generic.html" %}

{% block content %}
    <br>
    <h2 style=text-align:center;>Thank you!</h2>
    <p style="text-align:center; color: rgb(9, 151, 9)"> Your form was successfully submitted.</p>
    <p style="text-align:center; ">To add or delete courses, email <b>studbud.columbia@gmail.com</b> with your request. Please do NOT submit another form if you want to add a course.</p>
    <p style="text-align:center; ">Groups will be released on <b>Tuesday, February 2</b>. </p>
    <br>
{% endblock %}
