{% extends "base_generic.html" %}

{% block content %}
    <h1> StudBud Home </h1>
    <p> Looking for a study group? Sign up for StudBud! <br><br>

    StudBud is a social platform that matches students into ideal study groups with a machine learning algorithm. 
    We’re all about bringing people together and creating a sense of community during this crazy time.<br><br>

    If you want to study better, buddy better, and have a good semester, sign up here before January __. Study groups will be released on January __.
    <br><br>
    Thanks,<br>
    The StudBud Team</p>
{% endblock %}
